@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@531&display=swap" rel="stylesheet">
    <link href="~/Content/questRoomStyle.css" rel="stylesheet" />
    <title>Questrooms inside</title>
</head>

<body class="intro-2">
    <header class="container intro-2">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#"><strong>Quest area</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Opinions</a>
                    </li>
                </ul>

            </div>
            <form class="form-inline md-form mr-auto mb-4">
                <input id="inputTextForSearch" class="form-control mr-sm-2 text-light" type="text" placeholder="Search" aria-label="Search">
                <button id="searchBtn" onclick="searchQuests()" class="btn blue-gradient btn-rounded btn my-0" type="submit">Search</button>
            </form>
        </nav>

    </header>
    @* не забуваємо про це *@
    <main class="container myFirst">
        @RenderBody();
    </main>

    <script src="https://kit.fontawesome.com/e5665d24cf.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/mdb.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/QuestRoom.js"></script>
</body>
</html>
